body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f7f7;
}

.container {
    text-align: center;
    width: 80%;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.options {
    margin-bottom: 20px;
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

select {
    font-size: 16px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    width: 100%;
}

h1 {
    color: #4caf50;
}

.resultado {
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    select, button {
        width: 100%;
    }
}